In [1]:
from cvp_calc import Cvp_calc
import pandas as pd

Question # 3010 | Blueprint Area: 5 B i : Cost Measurement Concepts, Methods and Techniques

MultiCo has the following sales mix:

In [2]:
sales_mix = pd.DataFrame([["Shoes", 100, 25, 40, .30],
                        ["Swimsuits", 50, 10, 20, .50],
                        ["Hats", 40, 5, 5, .20]],
                        columns=["Product", "Sales price", "Variable costs", "Fixed costs", "%Sold"])
sales_mix

     Product  Sales price  Variable costs  Fixed costs  %Sold
0      Shoes          100              25           40    0.3
1  Swimsuits           50              10           20    0.5
2       Hats           40               5            5    0.2

What amount is MultiCo's weighted average contribution margin per unit?

In [3]:
sales_mix["CM"] = (sales_mix["Sales price"] - sales_mix["Variable costs"]) * sales_mix["%Sold"] 
result = sales_mix["CM"].sum()
result = f'The weighted average contribution margin per unit is ${result:.2f}'
result

'The weighted average contribution margin per unit is $49.50'

----------------------------------------------------------------------------------------------------------------------------

Question # 627 | Blueprint Area: 5 B i : Cost Measurement Concepts, Methods and Techniques

Slick Co. sells radios for $30 each. Fixed expenses total $15,000. Variable expenses are $20 per unit. What total dollar amount must Slick sell to break even?

In [6]:
bv_dollars = Cvp_calc(30, 20, 15000)
answer = bv_dollars.break_even_dollars()
answer = f'The total dollar amount that Slick must sell to break even is ${answer:,.0f}'
answer

'The total dollar amount that Slick must sell to break even is $45,000'